<!doctype html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    Bootstrap Css-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!--    Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Red+Hat+Display&family=Roboto&display=swap" rel="stylesheet">
<!--    Custom Css-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Restaurant Public Database {% block title %} {% endblock %}</title>
</head>
<body>
<!--Navbar Section-->
<section id="navigation-bar">
    <nav class="navbar navbar-expand-lg my_navbar">
        <div class="container-fluid d-flex">
            <img src="{% static 'logo.png' %}" alt="Restaurant database logo" class="logo">
            <a class="navbar-brand nav-brand" href="">ResDB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarText">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'all:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'contact:contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all:list' %}">All Restaurants</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all:search' %}">Search Restaurant</a>
                    </li>
                    {% if user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link active" href="{% url 'all:create' %}">Add Restaurant</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
                     </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</section>
        {% block content %}


        {% endblock %}
<!--Bootstrap Javascript-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>